.cards-row {
  padding: 4rem 2rem;
  background-color: #f9f9f9;

  .theme-card {
    border: none;
    border-radius: 12px;
    max-width: 320px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 180px;
      object-fit: cover;
      width: fit-content;
    }

    .card-title {
      font-size: 1.4rem;
      font-weight: 600;
      color: #196593;
      margin-top: 1rem;
    }

    .card-text {
      font-size: 1rem;
      color: #333;
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 991px) {
    padding: 3rem 1rem;
  }
}
