h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}
p,
span,
strong,
a,
li,
div {
  font-family: 'Inter', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
